# IDE
#.project
#.cproject
debug/*
Debug/*
.settings/*
compile_commands.json
nbproject/*

# CMake
CMakeCache.txt
CMakeFiles*
Config.h
cmake_install*
Makefile
build/
*.plist

# App
strelko.conf
src/strelko_*
test/strelko_*

# Misc
docs/*.*~
